.main {
    background: hsl(0, 2%, 91%);
    max-width: 850px;
    margin: auto;
}

.main__header {
    text-align: center;
    color:rgb(82, 80, 80)
}

.section__gameArea {
    background: white;
    padding: 50px;
    display: grid;
    justify-items: center;
    

}
.gameArea {
    font-size: 3em;
}